/* ----------------------------------------------------------- */
/* || General */
/* All common styling */
/* ----------------------------------------------------------- */

html {
    font-size: 2vh; /* vh means viewport height, the base font size is now 2 viewport heights */
    font-family: 'Knewave', cursive;
    background-color: #646362;
    box-sizing: border-box;
}

/* sets all other elements to inherit the box-sizing: border-box value. */
*, *::before, *::after { 
    box-sizing: inherit;
}

h1 {
    font-size: 8vh;
    text-align: center;
    /* gets rid of the gap at the top of the body */
    margin: 30px 20px 10px 20px;
    padding: 5px 0;
    color: black;
    text-shadow: 1px 1px 2px white;
    background-color: #58CFED;
    border: 1px solid #646362;
    border-radius: 10px;

}

h2 {
    margin: 20px;
    padding: 20px 20px;
    color: black;
    text-shadow: 1px 1px 2px white;
    background-color: #58CFED;
    border: 1px solid #646362;
    border-radius: 10px;
    font-size: 1.4em;
}

h3 {
    margin: 0;
    position: relative;
    left: 44vw;
    font-size: 1.2em;
}

aside {
    position: fixed;
    top: 0;
    right: 1px;
    width: 16%;
    margin: 0 auto; /*sets the top and bottom margin to 0, and sets left and right to auto ---This same style applies to padding as well */
    margin-top: 31px;
    background-color: white;
    border: 5px solid #D44C35; /* width, style color --> this sets the width to 5px, the style to solid (there are multiple) and the color to black */
    border-radius: 10px;
    height: 77.25%;
}

aside h1 {
    font-size: 2em;
    min-width: 10vw;
}

body {
    margin: 0;
    padding: 0;
}

main {
    width: 84%;
    margin-top: 31px;
    margin-left: 0;
    background-color: white;
    /* background-image: 
        url("../images/moroccan-flower.png"); */
    padding: 0 20px 20px 20px; /* sets top value to 0, 20px for the right, 20px for the bottom, and 20px for the left ---- if you have four values, it goes
    top-> right-> bottom-> left */
    border: 5px solid #D44C35; /* width, style color --> this sets the width to 5px, the style to solid (there are multiple) and the color to black */
    border-radius: 10px;
    height: 77.25%;
    /* overflow: auto; /* determines if scroll bars are needed, if so then they will pop up. */
}

img {
    /* Because images are inline elements, in order to apply margin or spacing values on images
    we must give the image block-level behavior using display: block;*/
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}

p {
    line-height: 1.5;
    letter-spacing: .75px;
    padding: 0 20px;
}

/* ----------------------------------------------------------- */
/* || SiteWide */
/* Navigation bar on top and the footer section down below */
/* ----------------------------------------------------------- */

/* Nav Bar */

.nav li {
    display: inline;
    color: white;
    text-align: center;
    padding: 0px 10px;
    font-size: 20px;
}



.nav a {
    color: white;
    text-decoration: none;
    padding: 0 10px;
    transition: background-color .5s;
    display: inline-block;
}

.nav a:hover {
    background-color: #3F3F3F;
}

.nav li{
    padding: 0;
    margin: 0;
}

nav p {
    color: white;
    position: fixed;
    left: 20px;
    top: 1px;
    margin: 0;
    font-size: 20px;
}

.logo {
    position: fixed;
    left: 5px;
    top: 1px;
    width: 28px;
    height: 28px;
    border-radius: 0px;
}

.nav{
    position: fixed;
    top: 0;
    left: 180px;
    margin: 0 auto;
}

nav {
    background-color: #000000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 31px;
    margin: 0 auto;
}

.line {
    border-top: .5px dotted rgb(255, 255, 255, 1);
    margin-top: 20px;
    /* width: 100%;
    position: relative;
    right: 50px; */
}

address p, address li, address a{
    color: black;
    font-size: 1em;
    text-shadow: .45px .45px 1px white;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    text-align: center;
}

address p {
    padding-left: 70px;
    margin-bottom: -5px;
    text-align: center;
    font-size: 1em;
}

address a {
    text-decoration: underline;
}

address img {
    display: inline-block;
    width: 2.2vw;
    height: auto;
    margin-left: 10px;
    position: relative;
    top: 10px;
}

address .git{
    /* width: 2.4vw; */
    position: relative;
    top: 2.2vh;
    /* margin-left: 10px;
    margin-bottom: .25vh; */
}

address {
    padding-bottom: 10px;
}

.pictures {
    padding-top: 40px;
}

/* ----------------------------------------------------------- */
/* || Pictures Tab */
/* ----------------------------------------------------------- */

.gumbo, .gigem, .shan, figure {
    max-height: 30vh;
    width: auto;
    display: inline-block;
}

figure, figcaption {
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: .95em;
}

/* ----------------------------------------------------------- */
/* || About me Page */
/* ----------------------------------------------------------- */

/* selects an image with a class that starts with an h
img[class^="h"] {
    width: 700px;
    height: 520px;
} */

.hill {
    max-width: 50%;
    height: auto;
}

.ge , .hob , .skills{
    /* changed to move with the viewport width */
    width: 20vw;
    padding-right: 20px;
}

.ski img {
    width: 2.5vw;
    height: auto;
    display: inline-block;
}
.js {
    margin-left: 20px;
}

/* ----------------------------------------------------------- */
/* || Social Tab */
/* ----------------------------------------------------------- */

.references a {
    text-decoration: underline;
    color: black
}

.references img {
    display: inline-block;
    width: 5vw;
    height: 7vh;
    margin-left: .2vw;

}

.references .git{
    width: 6vw;
    height: 10.5vh;
    position: relative;
    top: 2.5vh;
    /* comment */
}